/* ---------------------------------
Default Styles
--------------------------------- */
html {
  box-sizing: border-box;
  background-color: $gray-light;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

/* ---------------------------------
Global Styles
--------------------------------- */
.edit-item {
  margin: rem(24) 0;
}
