.edit-head {
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  grid-column-gap: rem(20);
  align-items: center;
  padding: 0 rem(24);
  border-radius: 5px;
  background-color: $gray-lighter;
}

.edit-head__input-title {
  @extend %heading--24;

  padding: 1.5rem 0;
  width: 100%;
}

.edit-head__checkbox,
.edit-head__priority,
.edit-head__edit {
  width: rem(28);
}

input[type='checkbox'] {
  display: none;

  &+label::before {
    @extend %font-awesome;

    font-size: rem(24);
    display: inline-block;
    cursor: pointer;
  }
}

.edit-head__checkbox {
  input+label::before {
    content: '\f00c';
    font-weight: 900;
    color: $white;
    background-color: $white;
  }

  input:checked+label::before {
    font-weight: 900;
    color: $white;
    background-color: $blue;
  }

  input:checked+label::after {
    content: '';
  }
}

.edit-head__priority {
  input+label::before {
    content: '\f005';
    color: $black;
  }

  input:checked+label::before {
    font-weight: 900;
    color: $orange;
  }

  input:checked+label::after {
    content: '';
  }
}

.edit-head__icon-edit {
  font-size: rem(24);
  color: $black;

  .is-editing & {
    color: $blue;
  }
}
