.edit-head {
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  grid-column-gap: rem(20);
  padding: rem(24);
  border-radius: 5px;
  background-color: $gray-lighter;
}

.edit-head__input-title {
  @extend %heading--24;

  width: 100%;
}

// icons
.edit-head__checkbox,
.edit-head__priority,
.edit-head__edit {
  position: relative;
  width: rem(28);
  font-size: rem(24);

  i {
    position: absolute;
  }
}

.edit-head__checkbox {
  margin-top: 3px;
  cursor: pointer;
}

.edit-head__icon-uncheck {
  background-color: $gray-lighter;
  color: $white;
  z-index: 2;

  .is-checked & {
    z-index: 1;
  }
}

.edit-head__icon-checked {
  color: $blue;
  z-index: 1;

  .is-checked & {
    z-index: 2;
  }
}

.edit-head__priority {
  cursor: pointer;
}

.edit-head__icon-white-star {
  color: $black;
  z-index: 2;

  .is-important & {
    color: transparent;
    z-index: 1;
  }
}

.edit-head__icon-colored-star {
  background-color: $gray-lighter;
  color: transparent;
  z-index: 1;

  .is-important & {
    color: $orange;
    z-index: 2;
  }
}

.edit-head__edit {
  cursor: pointer;
}

.edit-head__icon-edit {
  color: $black;

  .is-editing & {
    color: $blue;
  }
}
