/* ------------------------------------
 *  Color
 * --------------------------------- */
$white: #fff;
$blue: #4a90e2;
$darkBlue: #00408b;

$gray: #c8c8c8;
$gray-light: #e1e1e1;
$gray-lighter: #f2f2f2;
$gray-dark: #757575;

/* ------------------------------------
 *  Font
 * --------------------------------- */
$weight-400: 400;
$weight-500: 500;
